extends layout

block title
  title ksnctf C92

block hero
  h1.title ksnctf C92
  h2.subtitle Welcome to ksnctf C92

block content
  p
    | <a href="http://ksnctf.sweetduet.info/">ksnctf</a>のコミックマーケットC92向けスピンオフです。
    | 主にITセキュリティーに関する問題を出題します。
    | 各問題から<code>FLAG{????}</code>という形式のフラグを探してください。
    | Twitterアカウントでログインすることで、ランキングに参加でき、さらに……。
    | 解説本を<strong>金曜日 東地区“た”ブロック－26b「superflip」</strong>で頒布します。

  h2 開催期間
  p 2017年7月11日 ～ 2017年8月11日 10時00分（日本時間）
  h2 注意事項
  ul
    li <strong>2017年8月11日 10時00分</strong>以前に解答を公開したり、他人に教えたりしないでください
    li 各問題で指定されたサーバーとポート以外への攻撃は禁止です。このスコアサーバー自体への攻撃も禁止です
    li このサーバーや問題サーバーに送信された全ての情報は、頒布する解説本で紹介する可能性があります（特に誤答例など）
    li 問題サーバーに送信された全ての情報は他のユーザーが閲覧する可能性があります
    li ログインに使用したTwitterアカウントのプロフィール画像を、CSSスプライトにしてこのサーバーから再配信するかもしれません
    li 各問題の画像と問題の内容はあまり関係がありません。画像が無くても問題は解けます
