extends layout

block title
  title ksnctf C92 - 問題一覧

block hero
  h1.title 問題
  h2.subtitle 各問題から<code>FLAG{????}</code>という形式のフラグを探してください

block content
  table
    thead
      tr
        th(style='width: 64px')
        th(style='width: 64px') ID
        th 問題名
        th 点数
        th 正解者
    tbody
      - for (var id in problems) {
        - var problem = problems[id];
        tr
          td
            img(src='/problems/#{problem.id}/cover.png', width='48', height='48')
          td= problem.id
          td
            a(href='/problems/#{problem.id}/')
              = problem.title
          td= problem.flags.map(f => f.point).join(' / ')
          td
      - }
