extends layout

block title
  title ksnctf C92 - #{problem.title}

block hero
  h1.title 問題
  h2.subtitle &nbsp;

block content
  h1= problem.title
  p!= problem.statement
  form#form
    span flag:
    input#problem(type="hidden", value="#{problem.id}")
    input#flag
    input(type="submit", value="投稿")
    // TODO: CSRF
  script(src="/javascripts/problem.js")
